@import "tailwindcss";
@import "@fontsource/vazirmatn/index.css";
@import 'keen-slider/keen-slider.min.css';

.farsi-numbers {
  font-family: 'IranSans', Tahoma, sans-serif;
  direction: rtl;
  unicode-bidi: embed;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
}
